<header>
  <div class="header-content">
    <img
      src="https://media.licdn.com/dms/image/v2/C5603AQH6zH7LcV5_gA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1517604938869?e=1762387200&v=beta&t=ja7pafNALQ-7eUCVpC2kxAyvk6maV6uobiIXOiYHMic"
      alt="Rajat Dua Profile Photo"
      class="profile-photo"
    />
    <div class="header-text">
      <h1>Rajat Dua</h1>
      <p>Senior Manager, Enterprise Architect</p>
      <div class="contact-info">
        <a href="mailto:rajatdua1991@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/rajatdua1991/" target="_blank">LinkedIn</a>
        <a href="https://github.com/rajatdua1991" target="_blank">GitHub</a>
      </div>
    </div>
  </div>
</header>
